extends layout

block content
	each item in people
		tr
			td #{item.username}
			td #{item.age}
			td #{item.question1}
			td #{item.question2}
			td #{item.question3}
			br
	#menu
	a(href='/') Go back